.App {
  text-align: center;
}

.mainDiv {
  position: absolute;
  top: 10%;
  left: 34%;
  width: 60%;
}

.arrow{
  margin: 5%;
}

.imageName{
  position: absolute;
    bottom: -3%;
    left: 34%;
}

.gridMain {
  position: absolute;
  left: 30%;
  top: 12%;
  width: 28%;
}

.gridImage {
  margin: 6%;
}

.singleImage {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 80%
}

.gridClose {
  position: absolute;
  top: 9%;
  left: 53%;
}

.singleClose {
  position: absolute;
  top: 1%;
  left: 75%;
}